@import "./variables";

[data-theme="dark"] {
  --bg: #20212C;
  --scroll: #3E3F4E;
  --borderLine: #3E3F4E;
  --elements: #2B2C37;
  --title: #ecf4ff;
  --subTitle: #ececec;
  --svg: #ffffff;
  --btn-text: #f0f0f0;
  --box-shadow: #161616;
  --color: #ededed;
}

[data-theme="light"] {
  --bg: #ececec;
  --borderLine: #f4f4f4;
  --elements: #fcfcfc;
  --title: #031845;
  --subTitle: #171717;
  --svg: #000000;
  --btn-text: #151515;
  --box-shadow: rgb(144, 144, 144);
  --color: #2E2E2E;
}

