@import "../../styles/variables";

.Sidebar {
  position: fixed;
  z-index: 50;
  height: calc(100% - 4rem);
  width: 16.875rem;
  background-color: var(--elements);
  padding: $margin-medium 0;
  transition: transform 0.3s ease;
  border-right: 1px solid var(--borderLine);
  &__navigation {
    padding-left: 1rem;
    margin-bottom: $margin-medium;
    @include flexCenter;
    text-decoration: none;
    color: var(--subTitle);
    gap: 0.6rem;
    svg {
      stroke: var(--svg);
      width: 18px;
      height: 18px;
    }
    p {
      font-size: $font-23;
    }
  }
  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    &_items {
      overflow-y: auto;
      width: 100%;
      max-height: 300px;
      border-bottom: 1px solid var(--borderLine);
    }

    &_features {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }
  &.hide {
    transform: translateX(-100%);
  }
}
