.MoreButton {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.2s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  &:hover {
    background: var(--bg);
  }
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    svg {
      padding: 0.6rem;
      box-sizing: unset;
      stroke: var(--svg);
      width: 30px;
      height: 30px;
    }
  }
}
