@import "../../styles/variables";
.TaskBoard {
    margin-right: 2rem;
    max-width: 350px;
    background-color: var(--elements);
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 2rem;
    border-radius: 15px;
    height: 100%;
    &__menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-group {
            display: flex;
            align-items: center;
            gap: 30px;
        }
    }
    &__color {
        width: 20px;
        height: 45px;
        background-color: #84F0D0;
        border-radius: 10px;
        
    }
    &__title {
        color: var(--title);
        font-size: $font-19;
    }
    &__Task {
        display: flex;
        flex-direction: column;
        min-height: 50px;
    }
    &__btn-more {
        cursor: pointer;
        svg {
            box-sizing: unset;
            border-radius: 50%;
            transition: all 0.2s;
            padding: 1rem;
            stroke: var(--svg);
            width: 30px;
            height: 30px;
            &:hover {
                background: var(--bg);
            }
        }
    }
    &__btn {
        background: transparent;
        border: 3px solid #F4F4F4;
        width: 310px;
        padding: 10px;
        color: #2A85FF;
        cursor: pointer;
        font-size: $font-16;
        font-weight: 600;
        transition: all .2s;
        &:hover {
            background: #2A85FF;
            color: $white;
        }
    }
}