.InputToggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.toggle-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin: 0;
  vertical-align: top;
  background: #2A85FF;
  border: 1px solid #bbc1e1;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::after {
    content: url('../../assets/moon.svg');
    text-align: center;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    left: 3.8px;
    top: 1.6px;
    width: 24px;
    height: 24px;
    background-color: #FCFCFC;
    border-radius: 50%;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  &:checked::after {
    content: url('../../assets/sun.svg');
    line-height: 33px;
    transform: translateX(calc(100% + 3px));
    background-color: #FCFCFC;  
  }
  &:checked {
    background-color: rgb(113, 113, 254);
  }
}
