@import "../../styles/variables";
.Logo {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 16.875rem;
  border-right: 2px solid var(--borderLine);
  gap: 0.5rem;
  p {
    position: relative;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--title);
    
    letter-spacing: 1.2px;
    font-family: 'Audiowide', cursive;
    font-weight: 400;
    
    img {
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      position: absolute;
      width: 80px;
      height: 80px;
      z-index: -1;
    }
  }
}
