@import "../../styles/variables";
.Logo {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 16.875rem;
  border-right: 2px solid var(--borderLine);
  a {
    font-size: $font-26;
    text-decoration: none;
    color: var(--title);
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0.7rem;
      left: 6rem;
      width: 130px;
      height: 4px;
      background-color: $blue;
    }
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 0.7rem;
      right: 6rem;
      width: 130px;
      height: 4px;
      background-color: $blue;
    }
  }
}
