@import "../../styles/variables";

.CreateBoard {
  text-align: center;
  border-radius: 1rem;
  width: 90%;

  transition: all 0.2s ease;
  &:hover {
    opacity: 0.8;
    background-color: var(--bg);
  }
  button {
    color: #476ddd;
    background: transparent;
    border: none;
    font-weight: 600;
    font-size: $font-18;
    cursor: pointer;
    padding: $margin-small $margin-medium;
  }
}
