@import "../../styles/variables";

.CreateBoard {
  text-align: center;
  margin-top: $margin-medium;
  button {
    transition: all 0.2s ease;
    color: var(--btn-text);
    background: transparent;
    border: none;
    font-size: $font-18;
    cursor: pointer;
    padding: $margin-tiny $margin-medium;
    border-radius: 1rem;

    &:hover {
      opacity: 0.8;
      background-color: var(--bg);
    }
  }
}
