@import '../../../styles/variables';
.ColumnModal {
  width: 25rem;
  height: 20rem;
  background-color: var(--elements);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 15px 40px;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    button {
      margin-top: 10px;
      width: 100%;
      background: transparent;
      border: 3px solid #f4f4f4;

      padding: 10px;
      color: #2a85ff;
      cursor: pointer;
      font-size: $font-16;
      font-weight: 600;
      transition: all 0.2s;
      &:hover {
        background: #2a85ff;
        color: $white;
      }
    }
  }
  &__field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    label {
      display: inline-block;
      color: var(--subTitle);
      margin-bottom: 0.5rem;
    }
    input {
      width: 100%;
      padding: 0.4rem 1rem;
      background-color: var(--bg);
      border: none;
      border-radius: 5px;
      color: var(--color);
    }
    span {
      color: var(--color);
    }
  }
}
