@import "../../styles/variables";

.Header {
  position: sticky;
  background-color: $bg-element;
  height: 6rem;
  box-shadow: 0 1px 10px 0px gray;
  z-index: 100;
  line-height: 6rem;

  &__container {
    margin: auto;
    padding: 0 20px 0 0;
    @include flexCenter;
  }
  &__section {
    width: 100%;
    @include flexCenter;
    justify-content: space-between;
    padding-left: 20px;
    &_menu {
      @include flexCenter;
      gap: 1rem;
    }
  }
}


.Header {
  @include tablet {
    
  }
  @include tablet {
    &__logo {
      display: none;
    }
  }
}