@import "../../../styles/variables";
.TaskModal {

  &__field {
    textarea {
        background-color: var(--bg);
       resize: none;
       border-radius: 5px;
       border: none;
       color: var(--color);
       padding: 5px;
       font-size: 1rem;
       min-height: 5rem ;
    }
  }
}
