@import "./styles/variables";
@import "./styles/theme";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: $font-16;
  font-weight: $font-regular;
  background-color: var(--bg);

}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
