@import "../../styles/variables";

.Header {
  background-color: var(--elements);
  height: 4rem;
  box-shadow: 0 1px 10px 0px var(--box-shadow);
  z-index: 100;
  line-height: 4rem;

  &__container {
    margin: auto;
    padding: 0 20px 0 0;
    @include flexCenter;
  }
  &__section {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-left: 20px;
    &_menu {
      width: 3rem;

      display: flex;
      
      position: relative;
      button {
        cursor: pointer;
        background: transparent;
        border: none;
        svg {
          box-sizing: unset;
          border-radius: 50%;
          transition: all 0.2s;
          padding: 0.5rem;
          stroke: var(--svg);
          width: 30px;
          height: 30px;
          &:hover {
            background: var(--bg);
          }
        }
      }
    }
  }
}

.Header {
  @include tablet {
  }
  @include tablet {
    &__logo {
      display: none;
    }
  }
}
