@import "../../styles/variables";
.Task {
  padding: 15px;
  gap: 0.3rem;
  border-radius: 15px;
  box-shadow: 0 1px 10px 0px var(--box-shadow);
  background-color: var(--elements);
  margin-bottom: 1.5rem;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    color: var(--subTitle);
    font-size: $font-16;
    font-weight: 500;
    word-break: break-all;
  }
  &__menu {
    background: transparent;
    border: none;
    display: flex;
    cursor: pointer;
    svg {
      transition: all 0.3s;
      box-sizing: unset;
      fill: var(--svg);
      width: 25px;
      height: 25px;
      padding: 5px;
      border-radius: 50%;
      &:hover {
        
        background-color: var(--bg);
      }
    }
  }
  &__description {
    color: #9a9a9a;
    margin-top: 15px;
    font-size: $font-14;
  }
}
